/* Layout general */
.layout {
  display: flex;
  gap: 40px;
  padding: 40px;
  background: white;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

/* Caja grande izquierda */
.left-box {
  width: 420px;
  height: 650px;
  border: 3px solid black;
  border-radius: 30px;
}

/* Sección derecha */
.right-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

/* Cajas grandes superiores */
.top-row {
  display: flex;
  gap: 25px;
}

.box.top {
  width: 160px;
  height: 200px;
  border: 3px solid black;
  border-radius: 30px;
}

/* Líneas */
.middle-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row-mixed {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Líneas */
.line {
  height: 50px;
  border: 3px solid black;
  border-radius: 25px;
}

.long {
  width: 600px;
}

.short {
  width: 200px;
}

/* Cajas pequeñas inferiores */
.bottom-row {
  display: flex;
  gap: 20px;
}

.box.small {
  width: 120px;
  height: 120px;
  border: 3px solid black;
  border-radius: 25px;
}
